<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type"
    content="text/html"; charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href ='/stylesheets/design.css' />
</head>

<body>
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <p><%- content %></p>
        <form method="post" action="add">
            <table>
                <tr>
                    <th>NAME</th>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <th>PASSWORD</th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th>STORE</th>
                    <td><input type="text" name="store"></td>
                </tr>
                
            </table>
            <tr>
            <center><input type="submit" value="新規登録"></center>
        </form>
    </div>
</body>
</html>