<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>アカウント登録が完了しました。
        「ログイン画面に戻る」から、ログイン画面にもどり、
        ログインしてください。
    </p>
    <form method="post" action="index">
      <input type="submit" value="ログイン画面に戻る">
    </form>
  </body>
</html>