<!DOCUTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
        content="test/html; charset=UTF-8">
        <title>Login</title>
    </head>

    <body>
        <center><h1><%= data.title %></h1>
        </center>
    </body>
</html>